body { padding: 0; margin: 0; font-family: 'Roboto', sans-serif;
       background-color: rgb(40,40,40); color: white;
     }

ol { 
    background-color: rgb(20,20,20); margin-left:auto; margin-right:auto; width: 500px;
    padding: 10px 0 10px 30px; border: 3px solid rgb(61, 209, 16);
    border-radius: 10px;
   }
footer { position: fixed; bottom:0; width: 100%; padding: 5px; 
    text-align: center; color: rgb(61, 209, 16); background-color: black; font-weight: bold;
    }
.web-header { color: white; background-color: black; margin: 0; text-align: center; 
    padding: 10px; border-bottom: 5px solid rgb(61, 209, 16);
}
.player {  
    display: block; width: 200px; background-color: rgb(20,20,20); 
    text-align: center; margin: 10px auto 10px auto;
    border-radius: 10px;
}
.action-btn { border:0; background-color: transparent;color: white; 
    cursor: pointer; font-size: 20px; padding: 5px;}
.action-btn-play { font-size: 26px; padding: 0 20px 0 20px; }
.action-btn:focus { outline: 0; }
.action-btn:hover { color: rgb(61, 209, 16); }
.container {margin-bottom: 80px;}
.playing-now { color: rgb(61, 209, 16); font-weight:bold;}