body { padding: 0; margin: 0; font-family: 'Roboto', sans-serif;
       background-color: rgb(40,40,40); color: white;
       width: 100%;
     }

ol { 
    background-color: rgb(20,20,20); margin-left:auto; margin-right:auto; width: 500px;
    padding: 10px 0 10px 10px; border: 3px solid rgb(61, 209, 16);
    border-radius: 10px; list-style-type: none;
   }

footer { position: fixed; bottom:0; width: 100%; padding-top: 5px; padding-bottom:5px; 
    text-align: center; color: rgb(61, 209, 16); background-color: black; font-weight: bold;
    }
.web-header { color: white; background-color: black; margin: 0; text-align: center; 
    padding: 10px; border-bottom: 5px solid rgb(61, 209, 16);
}
.player {  
    display: block; width: 25%; height: auto; background-color: rgb(20,20,20); 
    text-align: center; margin: 10px auto 10px auto;
    border-radius: 10px;
}
.action-btn { border:0; background-color: transparent;color: white; 
    cursor: pointer; font-size: 24px; padding: 10px 0 10px 0;}
.action-btn-play {padding-right: 15%; padding-left: 15%;}
.action-btn:focus { outline: 0; }
.action-btn:hover { color: rgb(61, 209, 16); }
.container {margin-bottom: 80px; width:100%;}
.playing-now { color: rgb(61, 209, 16); font-weight:bold;}

/* Media Query for mobile*/

@media only screen and (min-width: 240px) and (max-width: 1024px){

    ol {
        border:0; border-top: 3px solid rgb(61, 209, 16); border-bottom: 3px solid rgb(61, 209, 16);
        border-radius: 0; width: 100%;
        padding-left: 0; text-align: center; list-style-type: none;
    }

    .player{
        width:100%;
        border-radius: 0;
        height:auto;
        padding-top: 0;
    }

    .action-btn { font-size: 48px; }
    .action-btn-play { padding: 0 15% 0 15%; }
    .container {width: 100%; margin: 0 auto 80px auto;}
}